<main class="images">
    <section>
        <p>Figura 1.1: Versão do Angular CLI</p>
        <img src="book/001.png" alt="Versão do Angular CLI" loading="lazy" />
    </section>
    <section>
        <p>Figura 1.2: Aplicação Angular sendo executada via ng serve</p>
        <img src="book/002.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 2.1: Cabeçalho da aplicação no Figma</p>
        <img src="book/003.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>
            Figura 2.2: Cabeçalho da aplicação implementado em Angular e sendo
            executado
        </p>
        <img src="book/004.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 3.1: Erro por falta da dependência do HttpClient</p>
        <img src="book/005.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 3.2: Lista de receitas sendo exibidas no console</p>
        <img src="book/006.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 5.1: Uma lista de pratos e o prato favorito</p>
        <img src="book/023.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 5.2: Grid de receitas na home da aplicação</p>
        <img src="book/008.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 7.1: Aplicação sendo executada sem lazy loading</p>
        <img src="book/009.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 7.2: Aplicação sendo executada com lazy loading</p>
        <img src="book/010.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>
            Figura 8.1: Formulário de exemplo capturando os dados ao clicar em
            "Salvar"
        </p>
        <img src="book/011.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>
            Figura 8.2: Formulário de exemplo destacando os campos não
            preenchidos
        </p>
        <img src="book/012.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 8.3: Busca typeahead na home da aplicação</p>
        <img src="book/013.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 9.1: Um JSON Web Token decodificado</p>
        <img src="book/014.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 9.2: Token salvo no localStorage</p>
        <img src="book/015.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>
            Figura 9.3: Bearer token acrescentado ao header de todas as
            requisições
        </p>
        <img src="book/016.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 10.1: Imagens no Docker Desktop</p>
        <img src="book/020.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 10.2: Execução de um novo container no Docker Desktop</p>
        <img src="book/021.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 10.3: Avaliações de uma receita</p>
        <img src="book/017.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 11.1: Karma sendo executado</p>
        <img src="book/022.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 11.2: Cobertura de código no Karma</p>
        <img src="book/018.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 11.3: Cobertura de código em CategoryService</p>
        <img src="book/019.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 12.1: Vercel CLI</p>
        <img src="book/024.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 12.2: Configuração de projeto na Vercel</p>
        <img src="book/026.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura 12.3: Tag atribuída pelo Semantic Release</p>
        <img src="book/025.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura A1.1: Minha conta</p>
        <img src="book/027.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>
            Figura A1.2: Componente MultiSelect do PrimeNG sendo usado para
            escolha das categorias da receita
        </p>
        <img src="book/028.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Figura A1.3: Minhas receitas</p>
        <img src="book/029.png" alt="" loading="lazy" />
    </section>
    <section>
        <p>Imagem A1.4: RecipeTableComponent</p>
        <img src="book/030.png" alt="" loading="lazy" />
    </section>
</main>
