.who {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 80px 0;
}

.who > div {
    width: 50%;
}

.who > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.who > div:last-child {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 100%;
    /* max-width: 640px; */
    height: auto;
}

@media screen and (max-width: 768px) {
    .who {
        padding: 32px;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .who > div {
        width: 100%;
    }
}
