<section class="about">
    <div class="book"></div>
    <div class="text">
        <h1>Sobre o livro</h1>
        <p>
            Angular na prática é um livro que te guiará na construção de uma rede social para compartilhamento de receitas culinárias enquanto te ensina, capítulo a capítulo, todos os artefatos do framework e a melhor forma de utilizá-los. Ao término desta jornada, você terá uma aplicação completa e publicada e estará pronto para desenvolver projetos com autonomia e aprofundar, ainda mais, seus conhecimentos no desenvolvimento front-end.
        </p>
    </div>
</section>