.about {
    background-color: #faf2ff;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex > div {
    flex: 1;
}

.book {
    padding-top: 50%;
    background-color: #faf2ff;
    background-image: url("/book.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text p:last-child {
    margin-top: 24px;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .text {
        padding-left: 0;
    }

    .book {
        width: 100%;
        padding-top: 100%;
    }
}
