.about {
    background-color: #faf2ff;
    display: flex;
    align-items: center;
}

.book {
    width: 50%;
    padding-top: 50%;
    background-color: #faf2ff;
    background-image: url("/book.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 120px;
}
