header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header:hover {
    cursor: pointer;
}

.logo,
nav {
    display: flex;
    gap: 16px;
}

.logo img {
    width: 24px;
    height: auto;
}

.logo p {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .logo img {
        width: 18px;
        height: auto;
    }

    .logo p {
        font-size: 18px;
    }

    .logo,
    nav {
        gap: 8px;
    }
}
