<header class="container" routerLink="/">
    <div class="logo">
        <img src="idea.svg" alt="Ideias em Angular" />
        <p>Angular <strong>na prática</strong></p>
    </div>
    <nav>
        <a href="https://www.linkedin.com/in/ortegavan/">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/ortegavan">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.instagram.com/ortegavan/">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </nav>
</header>
