h1 {
    font-weight: normal;
    font-size: 4rem;
}

img {
    width: 100%;
    height: auto;
}

.hero {
    padding: 120px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.hero > div {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
