<section class="hero container">
    <div class="content">
        <h1>
            Angular <del>é difícil</del><br />
            acabou de ficar mais fácil e intuitivo!
        </h1>
        <p>
            Aprenda, do zero, a criar uma aplicação de forma rápida e eficiente
            com Angular. Siga uma abordagem prática e passo a passo em um livro
            completo.
        </p>
        <p-button
            [rounded]="true"
            [routerLink]="['/']"
            fragment="comprar-agora"
        >
            Comprar agora
        </p-button>
    </div>
    <div>
        <img src="hero.svg" alt="Hero image" />
    </div>
</section>
