<section class="hero container">
    <div class="content">
        <p class="note">Livro Angular na prática</p>
        <h1>
            Angular <del>é difícil</del><br />
            acabou de ficar mais fácil!
        </h1>
        <p>
            Aprenda, do zero, a criar uma aplicação de forma rápida e eficiente
            com Angular. Siga uma abordagem prática e passo a passo em um livro
            completo.
        </p>
        <div class="cta">
            <button
                [routerLink]="['/']"
                fragment="comprar-agora"
                class="primary-button"
            >
                Compre agora
            </button>
            <button
                [routerLink]="['/']"
                fragment="saiba-mais"
                class="secondary-button"
            >
                Descubra o livro
            </button>
        </div>
    </div>
    <div>
        <img src="hero.svg" alt="Hero image" />
    </div>
</section>
