h1 {
    font-size: 2rem;
}

img {
    width: 100%;
    height: auto;
}

del {
    color: #999;
}

.hero {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.hero > div {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
