<section>
    <h1>Tabela de conteúdos</h1>
    <p-accordion>
        <p-accordionTab
            header="Começando: o que você precisa para sua primeira aplicação"
        >
            <p>
                - O que é o Angular? <br />
                - Configuração do ambiente <br />
                - Criação do projeto inicial <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Desvendando componentes: a base da sua aplicação"
        >
            <p>
                - Definindo um componente <br />
                - Utilizando um componente <br />
                - Comunicação entre componentes <br />
                - Estrutura da aplicação <br />
                - Criando nosso primeiro componente <br />
                - Ciclo de vida dos componentes <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Conectando tudo de forma inteligente: serviços e injeção de dependência"
        >
            <p>
                - O que é a injeção de dependência? <br />
                - Criando nosso primeiro serviço <br />
                - Escrevendo nosso primeiro teste <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Uma pitadinha de RxJS: a programação reativa no Angular"
        >
            <p>
                - O que é RxJS? <br />
                - O que são Observables? <br />
                - O que é a função pipe do RxJS? <br />
                - Inscrevendo-se em Observables: subscribe e AsyncPipe <br />
                - Desinscrevendo-se de Observables: métodos de cancelamento
                <br />
                - Sempre - sempre! - se desinscreva de seus Observables <br />
                - O Signal no Angular <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab header="Desenhando a interface: o poder dos templates">
            <p>
                - Propriedades, atributos e textos dinâmicos <br />
                - Ligação bidirecional de dados <br />
                - Controlando o fluxo do conteúdo <br />
                - Transformando dados com pipes <br />
                - Detecção de mudanças <br />
                - Retomando o My Recipe Book <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Diretivas: adicionando superpoderes aos componentes"
        >
            <p>
                - O que é uma diretiva? <br />
                - Criando uma diretiva <br />
                - Utilizando uma diretiva <br />
                - Testando diretivas <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Navegação e rotas: guiando o usuário pela aplicação"
        >
            <p>
                - Criando os componentes para fazermos o roteamento <br />
                - Definindo rotas <br />
                - Navegando entre rotas <br />
                - Recuperando dados da rota <br />
                - Renderizando o conteúdo por rotas <br />
                - Melhorando o desempenho com lazy loading <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Dados em movimento: formulários reativos no Angular"
        >
            <p>
                - Adicionando um controle básico de formulário <br />
                - Trabalhando com múltiplos controles <br />
                - Utilizando FormBuilder para gerar controles <br />
                - Validando formulários <br />
                - Implementando uma busca type-ahead <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Protegendo caminhos: autenticação e guardas de rotas no Angular"
        >
            <p>
                - O que é o JSON Web Token (JWT)? <br />
                - O fluxo da autenticação <br />
                - O serviço de autenticação <br />
                - O formulário de login <br />
                - Interceptando (e alterando) requisições HTTP <br />
                - Guardas de rota <br />
                - Questões
            </p>
        </p-accordionTab>
        <p-accordionTab
            header="Estado reativo: explorando o caminho do BehaviorSubject ao Signal"
        >
            <p>At vero eos et accusamus et iusto odio dignissimos...</p>
        </p-accordionTab>
        <p-accordionTab
            header="Confiança no código: testes para um Angular seguro"
        >
            <p>At vero eos et accusamus et iusto odio dignissimos...</p>
        </p-accordionTab>
        <p-accordionTab
            header="Hora de brilhar: preparando o deploy da aplicação"
        >
            <p>At vero eos et accusamus et iusto odio dignissimos...</p>
        </p-accordionTab>
    </p-accordion>
</section>
