<section id="saiba-mais" class="container">
    <h1>Tabela de conteúdos</h1>
    <p-accordion>
        <p-accordion-panel value="0">
            <p-accordion-header>
                Começando: do que você precisa para sua primeira aplicação
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - O que é o Angular? <br />
                    - Configuração do ambiente <br />
                    - Criação do projeto <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>
                Desvendando componentes: a base da sua aplicação
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - Definindo um componente <br />
                    - Utilizando um componente <br />
                    - Comunicação entre componentes <br />
                    - Estrutura da aplicação <br />
                    - Criando nosso primeiro componente <br />
                    - Ciclo de vida dos componentes <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>
                Conectando tudo de forma inteligente: serviços e injeção de
                dependência
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - O que é a injeção de dependência? <br />
                    - Criando nosso primeiro serviço <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="3">
            <p-accordion-header>
                Uma pitadinha de RxJS: a programação reativa no Angular
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - O que é RxJS? <br />
                    - O que são observables? <br />
                    - O que é a função pipe do RxJS? <br />
                    - Inscrevendo-se em observables: subscribe e AsyncPipe
                    <br />
                    - Desinscrevendo-se de observables: métodos de cancelamento
                    <br />
                    - Sempre - sempre! - se desinscreva de seus observables
                    <br />
                    - O Signal no Angular <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="4">
            <p-accordion-header>
                Desenhando a interface: o poder dos templates
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - Propriedades, atributos e textos dinâmicos <br />
                    - Ligação bidirecional de dados <br />
                    - Controlando o fluxo do conteúdo <br />
                    - Transformando dados com pipes <br />
                    - Detecção de mudanças <br />
                    - Retomando o My Recipe Book <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="5">
            <p-accordion-header>
                Diretivas: adicionando superpoderes aos componentes
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - O que é uma diretiva? <br />
                    - Criando uma diretiva <br />
                    - Utilizando uma diretiva <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="6">
            <p-accordion-header>
                Navegação e rotas: guiando o usuário pela aplicação
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - Criando os componentes para fazermos o roteamento <br />
                    - Definindo rotas <br />
                    - Navegando entre rotas <br />
                    - Recuperando dados da rota <br />
                    - Renderizando o conteúdo por rotas <br />
                    - Melhorando o desempenho com lazy loading <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="7">
            <p-accordion-header>
                Dados em movimento: formulários reativos no Angular
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - Adicionando um controle básico de formulário <br />
                    - Trabalhando com múltiplos controles <br />
                    - Utilizando FormBuilder para gerar controles <br />
                    - Validando formulários <br />
                    - Implementando uma busca typeahead <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="8">
            <p-accordion-header>
                Protegendo caminhos: autenticação e guardas de rotas no Angular
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - O que é o JSON Web Token (JWT)? <br />
                    - O fluxo da autenticação <br />
                    - O serviço de autenticação <br />
                    - O formulário de login <br />
                    - Interceptando (e alterando) requisições HTTP <br />
                    - Guardas de rota <br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="9">
            <p-accordion-header>
                Estado reativo: explorando o caminho do BehaviorSubject ao
                Signal
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - Preparando a aplicação para as interações sociais<br />
                    - Entendendo os Subjects do RxJS<br />
                    - Comparação entre Subjects<br />
                    - Gerenciando estado com BehaviorSubject<br />
                    - Gerenciando estado com signals<br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="10">
            <p-accordion-header>
                Confiança no código: testes para um Angular seguro
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - Arquivos de testes<br />
                    - Cobertura de código<br />
                    - Testando serviços<br />
                    - Ajustes iniciais nos testes de componentes<br />
                    - Testando dumb components<br />
                    - Testando smart components<br />
                    - Testando pipes e diretivas<br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="11">
            <p-accordion-header>
                Hora de brilhar: preparando o deploy da aplicação
            </p-accordion-header>
            <p-accordion-content>
                <p>
                    - Deploy manual no GitHub Pages<br />
                    - Deploy na Vercel via CLI<br />
                    - Deploy na Vercel via CD<br />
                    - Versionamento de projetos e a biblioteca Semantic
                    Release<br />
                    - Semantic Release via CI<br />
                    - Próximos passos<br />
                    - Questões
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</section>
