<section class="container">
    <div class="features">
        <div class="feature">
            <i class="fa-brands fa-angular"></i>
            <h3>Angular em ação</h3>
            <p>Aprenda com uma das versões mais recentes do framework.</p>
        </div>
        <div class="feature">
            <i class="fa-light fa-clock"></i>
            <h3>Aprendizado rápido e eficaz</h3>
            <p>
                Concentre anos de experiência em poucas horas de leitura prática
                e objetiva.
            </p>
        </div>
        <div class="feature">
            <i class="fa-light fa-rocket"></i>
            <h3>Do zero ao deploy</h3>
            <p>
                Construa uma aplicação completa e publicada, seguindo um passo a
                passo super didático.
            </p>
        </div>
    </div>
</section>
