.features {
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 80px 0;
}

.feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

i {
    font-size: 2.4rem;
    color: #dcbcf1;
}

@media screen and (max-width: 768px) {
    .features {
        padding: 32px;
        flex-direction: column;
        gap: 32px;
    }
}
