<section id="comprar-agora" class="container">
    <div class="headline">
        <p class="note">Comprar agora</p>
        <h1>Aprendizado de qualidade que cabe no seu bolso</h1>
        <p>
            Um livro completo, repleto de exemplos e insights, para elevar suas
            habilidades em Angular.
        </p>
    </div>

    <div class="ebook">
        <h1>eBook Kindle</h1>
        <img 
            src="ebook.svg" 
            alt="Preço do eBook" 
            width="200" 
            height="100" 
            loading="lazy"
            decoding="async"
        />
        <button class="primary-button" (click)="comprarKindle()">
            Comprar na Amazon
        </button>
    </div>

    <!-- <div>
        <h1>Brochura</h1>
        <img src="paperback.svg" alt="Preço da brochura" />
        <p-button [rounded]="true" (onClick)="comprarBrochura()">
            Comprar na Amazon
        </p-button>
    </div>

    <div>
        <h1>Capa dura</h1>
        <img src="hardcover.svg" alt="Preço do capa dura" />
        <p-button [rounded]="true" (onClick)="comprarCapaDura()">
            Comprar na Amazon
        </p-button>
    </div> -->
</section>
