<section id="comprar-agora" class="container">
    <div>
        <h1>eBook Kindle</h1>
        <img src="ebook.svg" alt="Preço do eBook" />
        <button class="primary-button" (onClick)="comprarKindle()">
            Comprar na Amazon
        </button>
    </div>
    <!-- <div>
        <h1>Brochura</h1>
        <img src="paperback.svg" alt="Preço da brochura" />
        <p-button [rounded]="true" (onClick)="comprarBrochura()">
            Comprar na Amazon
        </p-button>
    </div>
    <div>
        <h1>Capa dura</h1>
        <img src="hardcover.svg" alt="Preço do capa dura" />
        <p-button [rounded]="true" (onClick)="comprarCapaDura()">
            Comprar na Amazon
        </p-button>
    </div> -->
</section>
