<section id="comprar-agora" class="container">
    <div class="headline">
        <p class="note">Comprar agora</p>
        <h1>10x mais barato que um curso</h1>
        <p>
            E ainda assim todo o conteúdo de um curso contido em uma leitura
            rápida cheia de exemplos práticos.
        </p>
    </div>

    <div class="ebook">
        <h1>eBook Kindle</h1>
        <img src="ebook.svg" alt="Preço do eBook" />
        <button class="primary-button" (click)="comprarKindle()">
            Comprar na Amazon
        </button>
    </div>

    <!-- <div>
        <h1>Brochura</h1>
        <img src="paperback.svg" alt="Preço da brochura" />
        <p-button [rounded]="true" (onClick)="comprarBrochura()">
            Comprar na Amazon
        </p-button>
    </div>

    <div>
        <h1>Capa dura</h1>
        <img src="hardcover.svg" alt="Preço do capa dura" />
        <p-button [rounded]="true" (onClick)="comprarCapaDura()">
            Comprar na Amazon
        </p-button>
    </div> -->
</section>
