@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background-color: #fff;
    color: #000;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 32px;
    border: solid 1px blueviolet;
}

.note {
    font-size: 0.8rem;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
}

button {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 4px;
}

.primary-button {
    background-color: #dcbcf1;
    color: #000;
    border: none;
}

.primary-button:hover {
    background-color: #d0a8ea;
    cursor: pointer;
}

.secondary-button {
    background-color: transparent;
    border: solid 2px #dcbcf1;
    color: #dcbcf1;
}

.secondary-button:hover {
    border: solid 2px #d0a8ea;
    color: #d0a8ea;
    cursor: pointer;
}

.p-accordion {
    font-family: "Nunito", sans-serif;
}
